/* CSS files add styling rules to your content */
@font-face {
  font-family: 'Roobert';
  src: url('https://tiny-cdn.s3-us-west-1.amazonaws.com/Roobert-Medium.otf');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roobert';
  src: url('https://tiny-cdn.s3-us-west-1.amazonaws.com/Roobert-Bold.otf');
  font-weight: bold;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  font-display: fallback;
}

.chrome {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.center {
  display: block;
  margin: 0 auto;
}

.header {
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  padding: 2em;
  height: 50vh;
  margin-bottom: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*   background: #70bg32;
  background-repeat:no-repeat;
  background-image: radial-gradient(
    #350899, #17026A
  ); */
}

.mid {
  margin-top: 50px;
  width: 60%;
}

.footer {
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  padding: 2em;
}

.illustration {
  margin-top: 75px;
  height: 300px;
}

.beta-badge {
  float: right;
  color: #fff;
  background-color: #222;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  display: inline;
}

.active {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  box-shadow: 0 0 5px #9ecaed;
  margin-top: -3px;
  margin-left: 5px;
  display: inline-block;
  background-color: #00ffa1;
}

.advertiser-link{
  cursor: pointer;
  font-family: system-ui, helvetica, arial, sans-serif;
  font-weight: 600;
  float: right;
  margin-top: -5px;
  padding-bottom: 2px;
  border-bottom: 3px solid black;
}

label {
  position: absolute;
  opacity: 0;
}

h1 {
  font-weight: 800;
  font-size: 55pt;
  color: #423CDE;
  opacity: 0.8;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #423CDE;
  padding-left: -10px;
  padding-bottom: 80px;
  width: 300px;
  font-family: system-ui, helvetica, arial, sans-serif;
  display: inline;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
  z-index: 0;
}

.underline {
  z-index: -1;
  position: absolute;
  margin-top: -8px;
  display: block;
  width: 308px;
  height: 28px;
  margin-left: 2px;
  background-color: #BF76FF;
  cursor: pointer;
  transform-origin: 0% 100%;
  -webkit-animation: bummer 2s;
    animation: bummer 2s;
    -webkit-transform: scale(0,1); 
    transform: scale(0,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; /* Add this so that your modal doesn't 
                                      close after the animation completes */
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }
}

.underline:hover {
  opacity: 0.6;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

h2 {
  font-weight: 800;
  font-size: 24px;
  font-family: system-ui, helvetica, arial, sans-serif;
  margin-top: 100px;
  color: #fff;
  opacity: 0.8;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  background-color: #423CDE;
}

.slow { 
  animation-duration: 0.15s;
}


h3 {
  font-weight: 800;
  margin-top: -60px;
  margin-bottom: 10px;
  background-color: #111;
  border-radius: 4px;
  color: #FFF;
  padding: 5px 10px;
  position: absolute;
}

p {
  letter-spacing: 0.5px;
}

input { 
  outline: none;
  border: none;
  border: 2px solid black;
  font-size: 22px;
  margin-top: 75px;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: system-ui, helvetica, arial, sans-serif;
}

.button {
  outline: none;
  font-family: system-ui, helvetica, arial, sans-serif;
  border: none;
  border: 2px solid black;
  background-color: black;
  color: white;
  font-size: 22px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}

.button:hover{
  transition: .2s;
  border: 2px solid #444;
  background-color: #444;
}

.pulsate {
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


@media only screen and (max-width: 750px) {
  .mid {
    width: 95%;
    margin-top: 20px;
  }
  
  .header {
    margin-bottom: 350px;
  }
  
  h1 {
    font-size: 50pt;
  }
  
  .underline {
    width: 282px;
  }
  
  h2 {
    width: 400px;
  }
  
  .button {
    margin-top: 5px;
  }
  
  
}