

@font-face {
  font-family: 'Roobert';
  src: url('https://tiny-cdn.s3-us-west-1.amazonaws.com/Roobert-Medium.otf');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roobert';
  src: url('https://tiny-cdn.s3-us-west-1.amazonaws.com/Roobert-Bold.otf');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Roobert Heavy';
  src: url('https://cdn.glitch.com/2b5f5c56-9acc-45d3-bf3a-92e450e735e8%2FRoobert-Heavy.otf?v=1574618208612');
  font-weight: bold;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  font-display: fallback;
}

.chrome {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.center {
  display: block;
  margin: 0 auto;
}

.header {
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  padding: 2em;
  height: 100vh;
  margin-bottom: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFC650;
}

.other-header {
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  padding: 2em;
  height: 100vh;
  margin-bottom: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFC650;
}

.closer-mid {
  margin-top: 10px;
  width: 55%;
}

.mid {
  margin-top: 100px;
  width: 55%;
}

.footer {
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  padding: 2em;
  padding-top: 6em;
}

.illustration {
  margin-top: 75px;
  margin-bottom: 50px;
  height: 300px;
}

.header-illustration {
  margin-top: 25px;
  margin-bottom: 50px;
  height: 400px;
}

.beta-badge {
  background-color: #fff;
  color: #111;
  box-shadow: 0 0 0 2px rgba(9,9,9,0), 0 6px 15px rgba(18,18,18,.1);
  font-weight: 700;
  letter-spacing: 0.6px;
  font-size: 12px;
  border-radius: 12px;
  padding: 0.8rem 1.2rem;
  margin-left: 20px;
  position: absolute;
  display: inline-block;
}

.activeBadge {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-top: -3px;
  margin-left: 5px;
  display: inline-block;
  background-color: #00ffa1;
}

.link{
  text-decoration: none;
  color: #3b3b3b !important;
  cursor: pointer;
  font-family: system-ui, helvetica, arial, sans-serif;
  font-weight: 800;
  float: right;
  margin-top: -5px;
  margin-left: 10px;
  padding-bottom: 2px;
  border-bottom: 5px solid #FFF;
  transition: .2s;
}

.link:hover {
  color: #3B3B3B;
  border-bottom: 5px solid #3b3b3b;
  transition: .2s;
}

.link:visited {
  color: #3b3b3;
}

.link:active {
  color: #3b3b3;
}

.current {
  color: #fff !important;
  border-bottom: 5px solid #3b3b3b;
}

label {
  position: absolute;
  opacity: 0;
}

h1 {
  font-weight: 800;
  font-size: 5.5vw;
  color: #3b3b3b;
  padding-left: -10px;
  padding-bottom: 80px;
  width: 300px;
  font-family: 'Roobert Heavy', system-ui, helvetica, arial, sans-serif;
  display: inline;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
  z-index: 0;
}

.subheader {
  font-size: 40pt !important;
  text-align: center !important;
  display: block !important;
  color: #FFF;
  margin-top: 250px !important;
  width: 100%;
}

.underline {
  z-index: -1;
  position: relative;
  margin-top: -8px;
/*   border: 1px solid black; */
  display: block;
  width: 310px;
  height: 28px;
  margin-left: 2px;
  background-color: #fff;
  cursor: pointer;
  transform-origin: 0% 100%;
  -webkit-animation: bummer 2s;
    animation: bummer 2s;
    -webkit-transform: scale(0,1); 
    transform: scale(0,1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; /* Add this so that your modal doesn't 
                                      close after the animation completes */
}

.sm-underline {
  color: #423CDE;
/*   border-bottom: 3px solid #BF76FF; */
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }
}

.underline:hover {
  opacity: 0.6;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.pitch {
  font-weight: 800;
  font-size: 2vw;
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  margin-top: 40px;
  color: #FFF;
  width: 500px;
  border-radius: 5px;
}

h2 {
  font-weight: 800;
  font-size: 36px;
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  margin-top: 75px;
  color: #3b3b3b;
  width: 500px;
  padding: 15px;
  padding-left: 18px;
  border-radius: 5px;
  background-color: #FFF;
}

.slow { 
  animation-duration: 0.15s;
}


h3 {
  font-weight: 800;
  margin-top: -60px;
  margin-bottom: 10px;
  background-color: #111;
  border-radius: 4px;
  color: #FFF;
  padding: 5px 10px;
  position: absolute;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.25;
}

input { 
  outline: none;
  border: none;
  border: 2px solid white;
  font-size: 25px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
}

.mission {
  font-family: system-ui, helvetica, arial, sans-serif;
  margin-top: 90px;
  font-weight: bolder;
}

.button {
  outline: none;
  font-family: 'Roobert', system-ui, helvetica, arial, sans-serif;
  border: none;
  border: 2px solid #3b3b3b;
  background-color: #3b3b3b;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}

.button:hover{
  transition: .2s;
  border: 2px solid #000;
  background-color: #000;
}

.pulsate {
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


@media only screen and (max-width: 750px) {
  * {
    -webkit-appearance: none;
    overflow-y: none;
  }
  
  .beta-badge {
    display: none;
  }
  
  .closer-mid {
    width: 100%;
    margin-top: 10px;
  }
  
  .mid {
    width: 100%;
    margin-top: 50px;
  }
  
  .header {
    margin-bottom: 350px;
  }
  
  h1 {
    font-size: 55pt;
  }
  
  .underline {
    width: 280px;
  }
  
  .pitch {
    font-size: 30pt;
    width: 90%;
  }
  
  .button {
    margin-top: 5px;
    border: none;
  }
  
  img {
    height: 250px !important;
  }
  
}

.prompt {
  color: #3b3b3b;
  font-weight: bolder;
  font-family: 'Roobert', system-ui, sans-serif;
  margin-top: 55px;
  margin-bottom: 5px;
}
